# Columns

{% for column in columns.columns %}
- [{{ column.name }}](#{{ column.name | lower }}) - {{ column.title }}
  {% for example in column.examples -%}
  -  [{{ example.title }}](#{{ column.name | lower }}{{ loop.index }})
  {% endfor %}
{% endfor %}

{% for column in columns.columns %}

## {{ column.name }}

{{ column.desc }}

### Examples
{% for example in column.examples %}

{{ example.desc }}

<a id="{{ column.name | lower }}{{ loop.index }}"></a>
Template:
```
{% if example.column_yaml %}
{{- example.column_yaml -}}
{% elif example.columns_yaml %}
{{- example.columns_yaml -}}
{% endif -%}
```

Result:
{{ example |  render_example }}

---

{% endfor %}
{% endfor %}